.quiz-list {
  margin-top: 40px;
  margin-left: 117px;
}

.quiz-list table {
  border-collapse: collapse;
  font-size: 14px;
  width: 80%;
}

.quiz-list td, th {
  border: none;
  padding: 4px;
  text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  color: #414141;
}

.report-box {
  max-height: 100%;
  max-width: 100%;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 45px;
  background-color: #FFF;
}

.report-box .heading{
  color: #414141;
  font-size: 22px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.report-box .analysis {
  max-height: 100%;
  border: 2px solid #DBD5D5;
  border-right: none;
  border-left: none;
  padding-top : 25px;
  padding-bottom: 25px;
  padding-left: 40px;
  padding-right: 33px;
  display:inline-block;
}

.report-box .analysis .boxes {
  height: 55px;
  width: 200px;
  border: 2px solid #DBD5D5;
  border-left: 5px solid #3985C7;
  border-radius: 5px;
  float: left;
  margin: 3px 45px;
  padding-top: 1px;
  padding-left: 12px;
  font-size: 16px;
  color: #414141;
}

.report-box .analysis .boxes p{
  color: #A8A8A8;
  font-size: 12px;
  padding: 0;
}

.report-box .table-container{
  padding: 20px;
}

.report-box .table-container table{
  width: 100%;
}

.table-container td, th {
  border: none;
  padding: 3 10px;
  text-align: center;
}

