body{
    background-color: #e5e5e5;
}

.content{
    margin-left:270px;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
}

.box-1{
    background-color: white;
    width: 700px;
    color: #000000;
    margin:140px auto;
    padding-top:3%;
    padding-left:5%;
    padding-bottom: 2%;
    border-radius: 21.5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box1-content{
    display: flex;
}

.box1-content ul{
    margin-left: 1%;
    margin-top: 5%;
}

.box-1 h4{
    font-size: x-large;
}
.box1-content li{
    list-style-type:initial;
    list-style-position: inside;
    padding-top: 4%;
}

.sideimg
{
    margin-top: -4%;
}

.listing{
    background-color: white;
    width: 270px;
    margin-right: 10%;
}

.profilebox{
    position: absolute;
    top: 50%;
    margin:0 15%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: white;
    width: 700px;
    color: #000000;
    padding:3% 5%;
    border-radius: 21.5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.change-img a{
    color: #17E9E0;
    text-decoration: underline;
}

.change-img img{
    margin-left:25px;
    width: 150px; height: auto;
    background-color: violet;
}

.change-img{
    padding-left: 170px;
}

.kotak-atas{
    width: 700px;
    margin:0 auto 10px;
    display: flex;
    justify-content: space-between;
}

.kotak-atas a{
    color:#17E9E0;
    font-weight:700;
    text-decoration: underline;
}

.kotak-bawah{
    padding:1% 3%;
    border-radius: 21.5px;
    width:700px;
    margin:0 auto 17px;
    background-color: white;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.kotak-bawah .quizname-text{
    font-weight: 500;
    font-size: larger;
}

.History-lists
{
    margin-top: -10%;
}

.lect-name{
    font-weight: 500;
    padding-left: 5px;
    color: #17E9E0;
}

.flex-them{
    display: flex;
}
